.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
img { float: left; width: 350px; padding: 3px 4px; border: 1px solid #eee; }
html, body { margin: 0; padding: 0; }
html { overflow-y: scroll; }
#page-wrap { width: 1000px; margin: 0 auto; clear: both; }
#ac { width: 100%; }
#ac ul { padding: 0; margin: 0; list-style: none; }
#ac li { padding: 3px 4px; }
#ac li a { text-decoration: none; display: block; color: #111; }
#ac li:hover { background: #ddd; }
#ac li.selected { background: #ccc; }
.egs li p { padding: 0; margin: 0; }
.egs li { font-family: sans-serif; font-size: 14px; }
.meaning { margin: 0.5em 0; }
h2 { margin-bottom: 0; padding-left: 10px; }
.items { padding: 0; list-style: none; }
.type {
    padding-left: 15px;
    font-weight: bold;
    font-family: monospace;
}
.example { color: #222; }
.group, .help { color: #111; }
.explain { margin: 0.5em 0; }
p.phrase {
    margin: 0.5em 0;
    color: blue;
    font-family: monospace;
}
#explain {
    float: right;
    /* padding-left: 10px; */
    padding: 0 10px 30px 8px;
    width: 702px;
}
#selection {
    position: fixed;
    width: 280px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #CCC;
}
#q {
    margin: 30px 0 0 0;
    display: block;
    width: 318px;
    padding: 4px;
    font-size: 16px;
}
.word * {
    display: inline-block;
}
.pronounce { margin-left: 10px; color: green; }

body {
    color: black;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#loading {
    margin: 100px;
    font-size: 26px;
    text-align: center;
}

#footer {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    background: #eee;
    width: 100%;
}

#footer .content {
    width: 1000px;
    margin: 4px auto;
}

#footer a {
    text-decoration: none;
}

#footer ul {
    float: right;
    margin: 0 auto;
    /* width: 380px; */
    padding: 0;
}
#footer ul li {
    margin: 0 8px;
    display: inline;
}
a {
    outline: none;
}
