html, body {
    margin: 0;
    padding: 0;
}
html {
    overflow-y: scroll;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#page-wrap {
    width: 1060px;
    margin: 0 auto;
}

#q {
    margin: 30px 0 0 0;
    /* border: 0; */
    /* outline: none; */
    /* margin: 30px auto 0; */
    display: block;
    width: 318px;
    /* width: 300px; */
    padding: 4px;
    font-size: 16px;
}

#ac {
    /* position: absolute; */
    /* z-index: 100; */
    width: 100%;
    background: #eee;
/* box-shadow: 1px 2px 1px #ccc; */
}

#ac ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#ac li {
    cursor: pointer;
    padding: 3px 4px;
}

#ac li.selected {
    background: #ccc;
}

.egs li {
    font-family: monospace;
}

.meaning {
    margin: 0.5em 0;
}

.type {
    font-style: italic;
}

#explain {
    float: right;
    padding-left: 10px;
    width: 720px;
}

.items {
    list-style: none;
    padding: 0;
}

.item {

}

#selection {
    position: fixed;
    width: 330px;
    float: left;
}

.clear {
    clear: both;
}
