.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

html, body { margin: 0; padding: 0; }
html { overflow-y: scroll; }
#page-wrap { width: 1060px; margin: 0 auto; }
#ac { width: 100%; }
#ac ul { padding: 0; margin: 0; list-style: none; }
#ac li { padding: 3px 4px; }
#ac li a { text-decoration: none; display: block; color: #111; }
#ac li:hover { background: #ddd; }
#ac li.selected { background: #ccc; }
.egs li p { padding: 0; margin: 0; }
.egs li { font-family: sans-serif; font-size: 13px; }
.meaning { margin: 0.5em 0; font-size: 14px; }
h2 { margin-bottom: 0; }
.items { padding: 0; list-style: none; }
.type {
    padding-left: 15px;
    font-weight: bold;
    font-family: monospace;
    font-size: 18px;
}
.example { color: #222; }
.group, .help { color: #111; font-size: 13px; }
.explain { font-size: 14px; margin: 0.5em 0; }
p.phrase { margin: 0.5em 0; color: blue; font-size: 13.5px; font-family: monospace;}
#explain { float: right; padding-left: 10px; width: 720px; }
#selection {
    position: fixed;
    width: 330px;
    float: left;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 1px 2px 1px #ccc;
}
#q {
    margin: 30px 0 0 0;
    display: block;
    width: 318px;
    padding: 4px;
    font-size: 16px;
}
