/pom.xml
epoll
client/tmpls.js
server/dict
search
e
target
.classpath
.project
*jar
/lib
/classes
client/imgs
client/bimgs
/native
/.lein-failures
/checkouts
/.lein-deps-sum
/server/test
/android/bin/
/android/local.properties
/android/gen
/android/.settings
/android/proguard-project.txt
/android/res/raw/dbdata
/android/assets/tmpls.js
